*{
    margin: 0;
    padding: 0;
} 

.header {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
} 

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh
} 

.input input {
    font-size: 30px;
    width: 50vw;
    border-radius: 5px;
}

.input button {
    font-size: 30px;
    border-radius: 5px;
    width: 8rem;
}

.resumen {
    display: flex;
    height: 59vh;
}

.contador {
    width: 50vw;
    text-align: center;
}

.subtitulos {
    display: flex;
    gap: 2rem;
    padding-left: 2rem;
    font-weight: bolder;
    padding-bottom: 1rem;
}
.tarea {
    display: flex;
    gap: 2rem;
    width: 50vw;
    padding-bottom: 0.2rem;
}

.nombre {
    width: 25vw;
}

.check {
    display: flex;
    gap: 4rem;
    width: 20vw;
}
